@import "@/styles/variables";

.tabBarContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
  border-top: 1px solid $border-light;
}

.tabItem {
  flex: 1;
  font-size: 14px;
  color: $text-secondary;
  text-align: center;

  &.active {
    font-weight: bold;
    color: $theme-primary;
  }
}
