.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9fafb;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 9999px;
  padding: 8px 12px;
  margin: 16px 16px 16px 16px; // 统一使用16px边距
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.6;
}

.searchInput {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 0;
}

.categoriesContainer {
  background-color: #ffffff;
  padding: 12px 0; // 移除左右padding，保持与原来一致
  margin: 0 16px 6px 16px; // 确保与搜索容器和帖子列表相同的边距
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  display: flex;
}

.categoryItem {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-right: 16rpx;
}

.categoryIconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18rpx;
  margin-left: 18rpx;
  margin-bottom: 4px;
}

.categoryIcon {
  width: 24px;
  height: 24px;
}

.categoryName {
  font-size: 12px;
  transition: color 0.2s ease;
}

.categoryNameDefault {
  color: #4b5563;
}

.categoryNameSelected {
  color: #4f46e5;
}

.postScrollContainer {
  flex: 1;
  overflow: hidden;
}

.postScrollView {
  height: 100%;
  margin: 0 0px 16px;
}

.postList {
  padding: 0 13px 16px 17px; // 从 16px 改为 18px，向右移动2px
  display: flex;
  flex-direction: column;
}

.postListItem {
  & + & {
    margin-top: 4px;
  }
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 80px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #6d28d9;
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.fabIcon {
  font-size: 32px;
  line-height: 100rpx;
  font-weight: 300;
}
