@import "../../../styles/variables.scss";

.settingsSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  color: $text-primary-dark;
  padding: 0 16px;
}

.settingsList {
  background-color: $bg-card;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 $shadow-light;
  overflow: hidden;
}

.settingsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  // Use adjacent sibling selector to add a border to all but the first item
  & + & {
    border-top: 1px solid $border-cool;
  }

  &:hover {
    background-color: $bg-page-cool;
  }
}

.itemLeft, .itemRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

.itemIcon {
  width: 20px;
  height: 20px;
  color: $text-secondary;
}

.itemText {
  font-size: 16px;
  color: $text-primary-medium;
}

.itemExtra {
  font-size: 14px;
  color: $text-helper-light;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  color: $text-helper-gray;
} 