@use "../../../styles/variables.scss" as *;

.levelPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-page-cool;
}

.content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Base Card Style */
.currentLevelCard,
.levelDescriptionCard,
.tasksCard {
  background-color: $bg-card;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid $border-cool;
}

/* Current Level Info Card */
.currentLevelCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.levelInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.levelIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.levelName {
  font-size: 20px;
  font-weight: bold;
  color: $text-primary-dark;
}

.levelDetail {
  font-size: 14px;
  color: $text-secondary;
}

.expRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  color: $text-secondary;
}

.progressContainer {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  border: 2px solid $theme-primary;
  padding: 2px;
  background-color: $bg-card;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: $theme-primary-light;
  border-radius: 9999px;
}

.expRatio {
  font-size: 12px;
  color: $text-helper-light;
}

/* Level Descriptions Grid */
.levelsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.levelDescriptionCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;

  &.activeLevel {
    background-color: $alpha-primary-10;
    border: 2px solid $theme-primary-light;
    .levelDescriptionTitle {
      color: $theme-primary-light;
    }
  }
}

.levelDescriptionTitle {
  font-weight: 600;
  color: $text-primary-dark;
}

.levelDescriptionExp {
  font-size: 14px;
  color: #4b5563;
}

/* Gain Experience Section Card */
.tasksCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tasksTitle {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #f3f4f6;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.taskInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.taskIcon {
  width: 20px;
  height: 20px;
  color: #4b5563;
}

.taskName {
  font-size: 16px;
  color: #1f2937;
}

.taskStatus {
  font-size: 14px;

  &.incomplete {
    color: #6b7280; // text-gray-500
  }
  &.complete {
    color: #8b5cf6; // text-purple-600
  }
}
