@use "../../../styles/variables.scss" as *;

.loginContainer {
  min-height: 100vh;
  background-color: $bg-card;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
}

.version {
  font-size: 14px;
  color: $text-secondary-gray;
  margin-bottom: 48px;
}

.loginButton {
  width: 80%;
  max-width: 300px;
  height: 48px;
  line-height: 48px;
  @include button-primary;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;

  &::after {
    border: none;
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
}

.copyright {
  font-size: 12px;
  color: $text-secondary-gray;
} 